
html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  
}
body{
background-image: url(pictures/background_image.jpg);*/
/*background-color:dimgrey;*/
    margin: 20px;
}

@media screen and (max-width:959px){
    #container {
        width: 100%;  
    }
    #left-column {
        width: 220px;
    }   
    #right-column {
        width: 60%;
        margin-left: 3%;
    }
    #banner {
width: 99.9%;
    }
    #ulbar {
        width: 75%;
    }
    #footer {
        width: 99.9%;
    }
    #open {
        width: 93%;
    }
    #openh {
         width: 50%;
        font-size: 14px;
        left: 14px;
    }
    #opent {
        width: 100%;
        font-size: 12px;
        right:  8px;
    }
}
@media screen and (max-width:640px){
    #container {
        width: 100%;  
    }
    #left-column {
        width: 100%;
        height: 200px; 
    }
    #right-column {
        position: relative;
        width: 320px;
        right: 10px;

        height: 200px;

    }
    #banner {
        width: 100%;
    }
    #ulbar {
        width: 80%;
        height: 100px;


    }
    #footer {
        width: 100%;
    }
    #open {
        width:50%;
    }
    #openh {
        width: 25%;
        left: -40px;
        font-size: 10px;
        bottom: 8px;
        

    }
    #opent {
        width: 70%;
        font-size: 6px;
        text-align: left;
        left: 60px;
        top: -61px;
        height: 30px;
    }
    #open {
        height: 50px;
        width: 90%;
    }
    .li-1 {
        font-size: 10px;
        right: 15px;
        display: inline;
        margin-left: 20px;
        top: 40px;
    }
}
@media screen and (max-width:640px){
    #container {
        width: 320px;  
    }}

#container {
    /*background-image: url(pictures/banner12-kopi.jpg);*/
    /*background-color: grey;*/
    background-color: wheat;
    height: 755px;
    width: 1000px;
    position: relative;
    left: 200px;
    z-index: 101;
    border-radius: 16px;
}
#divlogo{
    
}
#logo{
    position: relative;
    height: 200px;
    z-index: 102;
    left: 0px;
    top: -20px;
    width: 200px;


}
#div_hozinotal_banner{

    position: relative;
    height: 150px;
    z-index: 101;
    width: 1000px;
    top: -200px;
    
}
#hozinotal_banner{
    width: 1200px;
    height: 200px;
    position: relative;
    left: -100px;
    top: -10px;
}
#div_vertikal_banner{
    position: relative;
    height: 600px;
    z-index: 101;
    width: 250px;
    bottom: 350px;
}
#vertikal_banner{
    position: relative;
    height: 650px;
    width: 400px;
    left: -75px;
    z-index: 101;


}
#div_velkommen {

}
#velkommen {
    color: white;
    position: relative;
    font-size: 52px;
    bottom: 960px;
    left: 300px;
    width: 600px;
    padding: 10px;
    z-index: 103;
    font-family: "Bodoni 72 Smallcaps";
    font-style: italic;

}
#div_menu{
   
}
#menu {
    z-index: 102;
    top: 175px;
    position: absolute;
    width: 250px;
    left: -50px;
}
#menu ul {
    list-style: none;
}
#menu ul li {
    width: 200px;
    text-align: center;   
    border-radius: 60px;
    font-size: 12px;
}
#menu ul li a {
    color:white;
    text-decoration: none;  
    font-family: "Bodoni 72 Smallcaps";
    font-size: 28px;
}
#menu ul :hover {
    background-color: rgb(128,87,63);  
    width: 200px;
    border-radius: 4px;
}
#div_open{
    width: 200px;
}
#open{
    color: white;
    position: relative;
    bottom: 760px;
    z-index: 103;
    text-align: center;
    font-size: 24px;
    left: -10px;
    width: 200px;
    
}
#open_ul{
    list-style: none;
    text-align: center;
    font-size: 16px;
    position: relative;
    left: -40px;
    top: -70px;
    color:;
    font-family: "serif";
    width: 250px;

    
}
#hr1 {
    position: relative;
    width: 200px;
    z-index: 103;
    bottom: 750px;
    left: -10px;



}
#text_open {
     font-family: "Bodoni 72 Smallcaps";
    font-size: 28px;
}
#hr5 {
    position: relative;
    bottom: 20px;
    z-index: 104;
    color: green;
}
#hr6 {
    position: relative;
    bottom:80px;
    z-index: 104;
    color: green;
}
#div_footer{
    width: 1000px;
    position: absolute;
    height: 35px;
    bottom: 20px;
    border-radius: 16px;

}
#follow {
    color: white;
    position: relative;
    font-size: 20px;
    font-family: "Bodoni 72 Smallcaps";
    top: -100px;
    left: 710px;
    z-index: 103;
    width: 160px;

}
.icon{
    position: relative;
    left: 885px;
    width: 50px;
    height: 50px;
    top: 0px;
    z-index: 102;
}
#icon_background{
      position: absolute;
    left: 650px;
    width: 390px;
    top: 575px;
    z-index: 102;
    height: 110px;
}
#icon_background2{
    position: absolute;
    left: 250px;
    width: 470px;
    top: 560px;
    z-index: 102;
}
#icon_background3{
      position: absolute;
    left: -50px;
    width: 450px;
    top: 565px;
    z-index: 101;
}
#mail {
    position: absolute;
    height: 45px;
    top:0px;
    left: 0px;
     z-index: 102;
}
#email {
    position: absolute;
    height: 50px;
    top: 0px;
    left: 50px;
    font-size: 18px;
    font-family: "Bodoni 72 Smallcaps";
    color: white;
     z-index: 102;
}
#telefon {
    position: absolute;
    height: 50px;
    top: 2px;
    left: 300px;
     z-index: 102;
}
#telefonnr {
    position: absolute;
    bottom: -35px;
    left: 340px;
    font-size: 20px;
    font-family: "Bodoni 72 Smallcaps";
    color: black;
    z-index: 102;
    text-align: center;
}
#find  {
    position: absolute;
    bottom: -50px;
    left: 450px;
    font-size: 24px;
    font-family:sans-serif;
    color: black;
    z-index: 102;
}
#eller {
    position: absolute;
    bottom: -28px;
    left: 340px;
    font-size: 20px;
    font-family: "Bodoni 72 Smallcaps";
    color: black;
    z-index: 102;
    text-align: center;
}
#bo {
    position: absolute;
    bottom: -35px;
    left: 520px;
    font-size: 30px;
    font-family: "Bodoni 72 Smallcaps";
    color: black;
    z-index: 102;
    text-align: center;
}
#bo a {
    text-decoration: none;
}
#bo a p {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 18px;
}
#bo a  :hover {
    background-color: rgb(128,87,63);  
}
#icon_backgroundmidt{
    position: absolute;
    left: 50px;
    width: 1000px;
    top: 140px;
    height: 200px;
    z-index: 100;
}
#sektion{
    position: absolute;
    left: 150px;
    width: 850px;
    top: 140px;
    height: 450px;
    z-index: 100;
background-color: burlywood;
    opacity: ;
}
#hilsen {
    color: rgb(128,87,63);
    position: relative;
    font-size: 28px;
    bottom: 0px;
    left: 50px;
    width: 780px;
    padding: 10px;
    z-index: 106;
    font-family: "Bodoni 72 Smallcaps";
    text-align: center;
    font-weight: bolder;
    text-align: center;
    background-color: wheat;


}
#hilsens {
    color: rgb(128,87,63);
    position: relative;
    font-size: 28px;
    bottom: 40px;
    left: 50px;
    width: 780px;
    padding: 10px;
    z-index: 106;
    font-family: "Bodoni 72 Smallcaps";
    text-align: center;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    height: 0px;


}
#admin_login{
    position: relative;
    bottom: 550px;
    left: 220px;
    font-size: 30px;
    font-family: "Bodoni 72 Smallcaps";
    color: black;
    z-index: 102;
    text-align: center;
    z-index: 105;
}


/* Hide the images by default */
.mySlides {
  display: none;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 12px;
  color: white;
    top: -100px;
    position: relative;
    width: 770px;
    

}
/* Six columns side by side */
.column {
  float: left;
  width: 24.66%;
    height: 2px;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.8;
    position: relative;
    top: -50px;
    left: 100px;
    top: -100px;
    width: 100px;
}
.active,
.demo:hover {
  opacity: 1;
}




#sektion_kontakt{
    position: relative;
    width: 275px;
    height: 200px;
    top: -630px;
    background-color:wheat;
    z-index: 103;
    left: 420px;
    border-radius: 16px;
}
#sektion_h2 {
    color:black;
    text-align: center;
    padding-top: 5px;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 24px;

}
#sektion_hr{
    background-color:   rgb(128,87,63);  
    height: 9px;
    position: relative;
    top: -15px;
}
#sektion_p{
    position: relative;
    top: -35px;
    left: 40px;
    width: 230px;
    font-size: 20px;
    padding: 5px;
}
#sektion_p2{
    position: absolute;
    top: 110px;
    left: 40px;
    width: 230px;
    font-size: 20px;
    padding: 5px;
}
#sektion_p2 a{
    position: absolute;
    top: 25px;
    left: 95px;
    width: 125px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: rgb(61,89,148); 
}


.display-container{
    
}


#title {
    font-size: 10px;
}
#arrow{
    position: relative;
    height: 25px;
    bottom: 100px;
    left: 10px;
}
#fbmessenger{
    position: relative;
    height: 25px;
    bottom: 40px;
    left: -20px;
}
#map {
          position: relative;
          top: -345px;
          left: 400px;
        height: 270px;
          width: 800px;
    z-index: 101;
      }






* {
  box-sizing: border-box;
}


.header {
  text-align: center;
  padding: 32px;
}

.rows {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columns {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columns img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columns {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columns {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}













/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


#hh3 {
    position: absolute;
    background-color: aqua; 
    width: 300px;
    height: 200px;
    left: 300px;
    top: 400px;
}

#section_book{
    position: absolute;
    left:420px;
    background-color:blanchedalmond;
    width: 775px;
    top: 325px;
    z-index: 101;
    height: 250px;
    border-radius: 16px;
}

#section_book h3 {
    text-align: center;
}
#fieldset_bookning{
    position: absolute;
    width: 300px;
    top: 25px;
    height: 230px;
    left: 25px;
}
#fieldset_bookning input{
    width: 200px;
    position: absolute;
    left: 60px;
}
#fieldset_bookning textarea{
    width: 260px;
    height: 80px;
}

#section_book2{
    position: absolute;
    left: 720px;
    top: 250px;
    z-index: 104;
    width: 430px;
    text-align: center;
    height: 250px;
    border-radius: 16px;
    
}
#section_book2 table tr th{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    color: white;
    background-image: url(pictures/background_image.jpg);
}
#section_book2 table td{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    color: white;
}
#section_book2 table {
    background-image: url(pictures/banner12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}
#section_book2 table td a {
    text-decoration: none;
    color: white;
} 
#section_book2 table td:hover{
    background-color: blue;
    
}

#section_book2 h3 {
    position: relative;
    top: 25px;
} 
#section_book2 h3  {
    
    
}
#section_book2 h3 a {
    
}
#left{
    position: absolute;
    top: -5px;
    left: 125px;
}
#right{
    position: absolute;
    top: -5px;
    left: 275px;
}










#section_gallery p {
    color: white;
    
}







